body{
    font-family: 'Poppins', sans-serif;
    background-color:#141e4c;
}
.navbar-and-title {
    background-color:#141e4c;
 
}
@media screen and (max-width: 770px) {
    nav-home {
      display: none;
    }
  }
.nav-home{
    position:fixed;
    z-index: 999;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: #141e4c;
    width: 100%;
}
.navlist-home{
    list-style: none;
    display: flex;
    align-items: center;
}
.navlist-home li{
   padding-right: 30px;
}

.navlist-home li:hover{
    color:orange;
}

.navbar-categories:hover{
    color: orange;
    
}

.navlist-home a{
    color: white;
    text-decoration: none;
}
.btn-dropdown{
   
    background: transparent;
    border: none;
}

.dropdown-menu-costum{
    background-color: #141e4c;
    color: white;
}
.btn.show{
    background-color:transparent;
}
.btn:hover{
    background-color:transparent;
    color: orange;

}
.dropdown-item:hover{
    color:orange;
    background-color: #141e4c;
}


.h1-home{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 130px;

}
section h1{
    color: white;
    font-weight: bold;
    font-size: 70px;

}


body 
.cursuri{
    background-color: white;
    width: 100%;
    padding-bottom: 50px;
}
.cursuri h1{
    color: #141e4c;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}
.cursuri p{
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}
.cursuri-card{
    display: flex;
    justify-content:space-around;
}

.card-title {
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
}

.text-card {
padding-left: 5px;
}

.details-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 2px;
}

.details-list li {
    display: flex;
    gap: 3px;
}

.details-list li p {
    margin-bottom: 10px !important;
}

.courses-symbols {
   font-size: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn-detalii {
    background-color: #2AB687;
    border-color: #2AB687;
    border-radius: 10%;
    padding: 2px 20px;
}

.btn-detalii:hover {
    background-color: #2AB687;
    color: white;
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
}